<template name="editMovie">
 <div class="editMovie">
        <form>
            <label>
                Title:
                <input type="text" name="title" placeholder="title" value="{{title}}">
            </label>
            <label>
                Desciption:
                <input type="text" name="description" placeholder="description" value="{{description}}">
            </label>
            <label>
                Release Year:
                <input type="text" name="release_year" placeholder="release year" value="{{release_year}}">
            </label>
            <label>
                Star:
                <input type="text" name="star" placeholder="star" value="{{star}}">
            </label>
            <button type="submit" class="save">{{saveButtonText}}</button>
        </form>
    </div>
</template>