<template name="layout">
    <header>
        <div class="container">
            <h1>Movie Directory</h1>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/categories">Categories</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
                {{#if currentUser}}
                   {{> logedin}}
                {{/if}}

            </ul>
        </div>
    </header>
    <div class="container">
        <main>
          {{> yield }}
        </main>
    </div>
</template>
<template name="notFound">
    <div class="jumbotron">
        <h3>Nothing Here!!</h3>
        <h4>You hit a page which doesn't exist!!</h4>
    </div>
</template>
<template name="loading">
    <div class="center">
        <img src="/img/loader.gif">
    </div>
</template>
