<template name="layout">
    <header>
        <div class="container">
            <h1>Movie Directory</h1>
            <ul>
                <li>
                    <a href="/">My Movies</a>
                </li>
                <li>
                    <a href="/news">News</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main>
          {{> yield }}
        </main>
    </div>
</template>
<template name="notFound">
    <div class="jumbotron">
        <h3>Nothing Here!!</h3>
        <h4>You hit a page which doesn't exist!!</h4>
    </div>
</template>